<html>
<body>

<h2>Here is some info about the HTTP request<h2>

<h3>Request path:@{context.request().path()}</h3><br>
<h3>Request headers:</h3><br>

@foreach{entry: context.request().headers().entries()}
@{entry.key}: @{entry.value}<br>
@end{}

</body>
</html>