*.log
.DS_Store
.gradle
.classpath
.project
.settings
.idea
.vertx
.yardoc
.yardopts
bin
build
target
out
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.iml
*.class
src/gen
src/main/groovy/io/vertx/groovy/core/**/*.groovy
src/test/groovy/io/vertx/groovy/codegen/**/*.groovy
openshift-example/quickstart-diy/application/*.jar
openshift-example/vertx-cartridge/application/*.jar
