.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
src/gen
src/main/groovy/io/vertx/groovy/core/**/*.groovy
src/test/groovy/io/vertx/groovy/codegen/**/*.groovy
