<html>
  <head>
  </head>
  <body>
    <p>
      Well, hello there!
    </p>
    <p>
      We're going to the protected resource, if there is no user in the session we will talk to the GitHub API. Ready?
      <a href="/protected">Click here</a> to begin!</a>
    </p>
    <p>
      <b>If that link doesn't work</b>, remember to provide your own <a href="https://github.com/settings/applications/new">Client ID</a>!
    </p>
  </body>
</html>
