<html>
<head>
  <title>{{title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>{{title}}</h1>
  <ol>
  {{#each seasons}}
    <li>{{this.name}}</li>
  {{/each}}
  </ol>
  <p>Total : {{seasons.length}}</p>
</body>
</html>